<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="main">
    <div class="tx-member-application-form">
        <h1><f:translate key="LLL:EXT:member/Resources/Private/Language/locallang.xlf:application.new.title"/></h1>

        <f:form action="create" controller="MemberApplication" object="{application}" name="application">
            <div class="tx-member-form-group">
                <f:form.label for="applicantName">
                    <f:translate key="LLL:EXT:member/Resources/Private/Language/locallang.xlf:application.new.applicantName"/>
                </f:form.label>
                <f:form.textfield id="applicantName"
                                  property="applicantName"
                                  class="tx-member-form-control"
                                  required="required"/>
            </div>

            <div class="tx-member-form-group">
                <f:form.label for="email">
                    <f:translate key="LLL:EXT:member/Resources/Private/Language/locallang.xlf:application.new.email"/>
                </f:form.label>
                <f:form.textfield id="email"
                                  property="email"
                                  type="email"
                                  class="tx-member-form-control"
                                  required="required"/>
            </div>

            <div class="tx-member-form-group">
                <f:form.label for="motivation">
                    <f:translate key="LLL:EXT:member/Resources/Private/Language/locallang.xlf:application.new.motivation"/>
                </f:form.label>
                <f:form.textarea id="motivation"
                                 property="motivation"
                                 rows="8"
                                 cols="40"
                                 class="tx-member-form-control"/>
            </div>

            <div class="tx-member-form-group">
                <f:form.submit value="{f:translate(key: 'LLL:EXT:member/Resources/Private/Language/locallang.xlf:application.new.submit')}"
                               class="tx-member-btn tx-member-btn--primary"/>
            </div>
        </f:form>
    </div>
</f:section>

</html>
