<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
<div class="mai-member-application">
    <h2 class="mai-member-application__title">
        <f:translate key="application.form.title" extensionName="mai_member" />
    </h2>

    <f:flashMessages />

    <f:form.validationResults>
        <f:if condition="{validationResults.flattenedErrors}">
            <div class="mai-member-application__errors" role="alert">
                <f:for each="{validationResults.flattenedErrors}" as="errors" key="propertyName">
                    <f:for each="{errors}" as="error">
                        <p class="mai-member-application__error">{error.message}</p>
                    </f:for>
                </f:for>
            </div>
        </f:if>
    </f:form.validationResults>

    <f:form action="submit" controller="Application" extensionName="MaiMember" method="post" object="{application}" objectName="application">
        <div class="mai-member-application__field">
            <label for="mai-member-application-firstName" class="mai-member-application__label">
                <f:translate key="application.form.firstName" extensionName="mai_member" />
            </label>
            <f:form.textfield id="mai-member-application-firstName" property="firstName" required="required" class="mai-member-application__input" />
        </div>

        <div class="mai-member-application__field">
            <label for="mai-member-application-lastName" class="mai-member-application__label">
                <f:translate key="application.form.lastName" extensionName="mai_member" />
            </label>
            <f:form.textfield id="mai-member-application-lastName" property="lastName" required="required" class="mai-member-application__input" />
        </div>

        <div class="mai-member-application__field">
            <label for="mai-member-application-email" class="mai-member-application__label">
                <f:translate key="application.form.email" extensionName="mai_member" />
            </label>
            <f:form.textfield id="mai-member-application-email" property="email" type="email" required="required" class="mai-member-application__input" />
        </div>

        <div class="mai-member-application__field">
            <label for="mai-member-application-message" class="mai-member-application__label">
                <f:translate key="application.form.message" extensionName="mai_member" />
            </label>
            <f:form.textarea id="mai-member-application-message" property="message" rows="5" class="mai-member-application__textarea" />
        </div>

        <div class="mai-member-application__submit">
            <f:variable name="submitLabel">
                <f:translate key="application.form.submit" extensionName="mai_member" default="Submit Application"/>
            </f:variable>
            <f:form.submit value="{submitLabel}" class="mai-member-application__submit-button"/>
        </div>
    </f:form>
</div>
</html>
