<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
<be:pageRenderer />

<be:moduleLayout>
    <f:render section="Content" />
</be:moduleLayout>

<f:section name="Content">
    <div class="module-body">
        <h1><f:translate key="LLL:EXT:mai_member/Resources/Private/Language/locallang.xlf:member.list.title" /></h1>

        <f:if condition="{applications}">
            <div class="callout callout-warning">
                <h4>Pending applications</h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Submitted</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <f:for each="{applications}" as="application">
                            <tr>
                                <td>{application.fullName}</td>
                                <td>{application.email}</td>
                                <td>
                                    <f:if condition="{application.submittedAt}">
                                        <f:format.date format="d.m.Y H:i">{application.submittedAt}</f:format.date>
                                    </f:if>
                                </td>
                                <td>
                                    <f:link.action action="approve" arguments="{application: application}" class="btn btn-success btn-sm">
                                        Approve
                                    </f:link.action>
                                    <f:link.action action="reject" arguments="{application: application}" class="btn btn-danger btn-sm">
                                        Reject
                                    </f:link.action>
                                </td>
                            </tr>
                        </f:for>
                    </tbody>
                </table>
            </div>
        </f:if>

        <h2>Members</h2>
        <f:if condition="{members}">
            <f:then>
                <p>
                    <f:link.action action="exportCsv" class="btn btn-default">Download CSV</f:link.action>
                </p>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Status</th>
                            <th>Join Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <f:for each="{members}" as="member">
                            <tr>
                                <td>{member.fullName}</td>
                                <td>{member.email}</td>
                                <td>{member.phone}</td>
                                <td>{member.status}</td>
                                <td>
                                    <f:if condition="{member.joinDate}">
                                        <f:format.date format="d.m.Y">{member.joinDate}</f:format.date>
                                    </f:if>
                                </td>
                            </tr>
                        </f:for>
                    </tbody>
                </table>
            </f:then>
            <f:else>
                <p>No members found.</p>
            </f:else>
        </f:if>
    </div>
</f:section>
</html>
