<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="main">
    <div class="module-member-applications">

        <f:flashMessages/>

        <h2>Pending Applications</h2>
        <f:if condition="{pendingApplications}">
            <f:then>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <f:for each="{pendingApplications}" as="application">
                            <tr>
                                <td>{application.applicantName}</td>
                                <td>{application.email}</td>
                                <td>
                                    <f:link.action action="show"
                                                   arguments="{application: application}"
                                                   class="btn btn-default btn-sm">
                                        View
                                    </f:link.action>
                                    <f:link.action action="approve"
                                                   arguments="{application: application}"
                                                   class="btn btn-success btn-sm">
                                        Approve
                                    </f:link.action>
                                    <f:link.action action="reject"
                                                   arguments="{application: application}"
                                                   class="btn btn-danger btn-sm">
                                        Reject
                                    </f:link.action>
                                </td>
                            </tr>
                        </f:for>
                    </tbody>
                </table>
            </f:then>
            <f:else>
                <p>No pending applications.</p>
            </f:else>
        </f:if>

        <h2>Approved Applications</h2>
        <f:if condition="{approvedApplications}">
            <f:then>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <f:for each="{approvedApplications}" as="application">
                            <tr>
                                <td>{application.applicantName}</td>
                                <td>{application.email}</td>
                                <td>
                                    <f:link.action action="show"
                                                   arguments="{application: application}"
                                                   class="btn btn-default btn-sm">
                                        View
                                    </f:link.action>
                                    <f:link.action action="activate"
                                                   arguments="{application: application}"
                                                   class="btn btn-primary btn-sm">
                                        Activate
                                    </f:link.action>
                                </td>
                            </tr>
                        </f:for>
                    </tbody>
                </table>
            </f:then>
            <f:else>
                <p>No approved applications awaiting activation.</p>
            </f:else>
        </f:if>
    </div>
</f:section>

</html>
