<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="main">
    <div class="tx-member-member-list">
        <h1><f:translate key="LLL:EXT:member/Resources/Private/Language/locallang.xlf:member.list.title"/></h1>

        <form method="get" class="tx-member-filter">
            <label for="tx-member-interest-filter">
                <f:translate key="LLL:EXT:member/Resources/Private/Language/locallang.xlf:member.list.filterByInterest"/>
            </label>
            <input type="text"
                   id="tx-member-interest-filter"
                   name="{f:cObject(typoscriptObjectPath:'lib.pluginArgPrefix')}{namespace}[interest]"
                   value="{currentInterest}"
                   class="tx-member-filter__input"/>
            <button type="submit" class="tx-member-filter__button">
                <f:translate key="LLL:EXT:member/Resources/Private/Language/locallang.xlf:member.list.filterButton"/>
            </button>
            <f:if condition="{currentInterest}">
                <f:link.action action="list" class="tx-member-filter__reset">
                    <f:translate key="LLL:EXT:member/Resources/Private/Language/locallang.xlf:member.list.resetFilter"/>
                </f:link.action>
            </f:if>
        </form>

        <f:if condition="{members}">
            <f:then>
                <ul class="tx-member-list">
                    <f:for each="{members}" as="member">
                        <li class="tx-member-list__item">
                            <f:render partial="Member/Item" arguments="{member: member}"/>
                        </li>
                    </f:for>
                </ul>
            </f:then>
            <f:else>
                <p class="tx-member-list__empty">
                    <f:translate key="LLL:EXT:member/Resources/Private/Language/locallang.xlf:member.list.noResults"/>
                </p>
            </f:else>
        </f:if>
    </div>
</f:section>

</html>
