<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="tx-member-item">
    <f:if condition="{member.photo}">
        <div class="tx-member-item__photo">
            <f:for each="{member.photo}" as="photo">
                <f:image image="{photo}" alt="{member.name}" class="tx-member-item__image" width="100"/>
            </f:for>
        </div>
    </f:if>

    <div class="tx-member-item__info">
        <h3 class="tx-member-item__name">
            <f:link.action action="show" arguments="{member: member}">{member.name}</f:link.action>
        </h3>
        <f:if condition="{member.interests}">
            <p class="tx-member-item__interests">
                <f:for each="{member.interestsArray}" as="interest" iteration="iter">
                    {interest}<f:if condition="{iter.isLast}"><f:else>, </f:else></f:if>
                </f:for>
            </p>
        </f:if>
    </div>
</div>

</html>
